.bar {
	fill: steelblue;
}

.bar:hover {
	fill: brown;
}

.title {
	font: 300 32px Helvetica Neue;
	fill: #666;
}

.axis {
	font: 10px sans-serif;
}

.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.x.axis path {
	display: none;
}

.main-container{
	margin-top: 60px;
}
